/*The CSS Goblin Show */

html {
	background-color:#000000;
}

body {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	padding: auto 0;
	margin: auto;
	display: block;
	width:600px;
	height:500px;
}

#header{
	text-align:center;
	color:#ffffff;
}

#logArea{
	position:fixed;
	top:100px;
	left:12px;
	font-size:14px;
	padding: auto 0;
	margin: auto;
	resize: none;
	background-color:#000000;
	color:#ffffff;
	width:350px;
	height:400px;
}